<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="worker-src blob: ;default-src * data: gap: blob: content: https://ssl.gstatic.com; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
    <title>My dictionary</title>
    <!-- Include Scala.js compiled code -->
    @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  </head>
  <body>
    <div class="header" id="header">
      <ul>
        <li id="home">Home</li>
        <li id="word_count"></li>
      </ul>
    </div>
    <div class="tabs">
      <div class="tab_content" id="screen-word">
        <div>
          <input id="text-word" class="word" type="text" />
          <button id="btn-check">
            <img src="/assets/images/search.png" />
          </button>
        </div>
        <ul id="word_list"></ul>
      </div>

      <div class="tab_content" id="screen-example">
        <input type="hidden" id="screen-example-word-id"></input>
        <div>
          <div class="ref_count">Reference count:<div class="ref_count" id="ref_count"></div>
          </div>
        </div>
        <div>
          <div class="last_ref_time">Last reference time:<div class="last_ref_time" id="last_ref_time"></div>
          </div>
        </div>
        <div id="screen-example-word">
          <button id="btn-speak">
            <img src="/assets/images/speak.png" />
          </button>
        </div>
        <ul id="examples">
          <li name="[0]">Examples</li>
        </ul>
      </div>

      <div class="tab_content" id="edit-word">
        <input id="edit-word-text" class="word" type="text" />
        <button id="edit-word-ok" >Ok</button>
        <button id="edit-word-cancel" >Cancel</button>
      </div>

      <div class="tab_content" id="screen-edit-example">
        <div id="screen-edit-example-word"></div>
        <input type="hidden" id="screen-edit-example-id">
        <textarea id="screen-edit-example-content" rows="5" cols="100"></textarea>
        <button id="screen-edit-example-create" >Apply</button>
        <button id="screen-edit-example-cancel" >Cancel</button>
      </div>
    </div>
    <div id="footer">
      <p>Copyright 2020 CUPPER All Rights Reserved.</p>
    </div>
  </body>
</html>
